*{
  box-sizing: border-box;
}
.Navbar{
  width: min(1800px,90%);
  margin: 0% auto;
  background: rgba(239, 238, 238, 0);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
position: absolute;
top: 0%;
left: 0%;
width: 100vw;
}

.Navbar .nav-container{
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  align-items: center;
   
}
.Navbar .nav-container ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar .nav-container ul li{
  margin: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
.btn-primary{
  background-color:var(--secondary);
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: bold;
}
.btn-primary a{
  color: white;
}
/******HOME******/
.home .container{
  height: 900px;
 width: 100%;
 background-image: url(https://cdn.mgig.fr/2021/09/mga-eb7cf64a-w375-w1500-w750_accroche.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 padding-top: 350px;
}
.home .list-container{
  display: flex;
  justify-content: space-between;
  
}
.card{
 border: 8px ;
  border-radius: 10px;
  color: var(--primary);
  margin: 0 20px;
  box-shadow: 5px 5px 5px white;
}

.card img{
  width: 350px;
  height: 350px;
  display: block;
  margin: 0px auto ;

}
.card-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meilleur-vente{
  margin-top: 200px;
  
}
.list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add{
  width: 700px;
  
  margin: 0 auto;
  margin-top: 300px;
  background-color:beige;
}
.add h1{
  padding-top: 10px;
  color: palevioletred;
  margin-left: 200px;
}
.add input{
  width: 90%;
  height: 100px;
  font-size: 30px;
  margin-left: 5% ;
  margin-top: 20px;
  padding-left: 10px;

}
.add button{
  background-color: palevioletred;
  width: 50%;
  height: 80px;
  margin-left: 180px ;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  color: aliceblue;
}